fastapi
uvicorn
pydantic
torch
torchvision
transformers==4.37.2
accelerate
bitsandbytes
Pillow
protobuf<4.0.0
sentencepiece
tiktoken
einops
shortuuid
peft<=0.6.2
opencv-python-headless
scikit-learn
requests
numpy
